<section class="main__body">
  <ul class="main__posts">
    <li class="post">
      <h2 class="post__title">{{title}}</h2>
      <p class="post__date"></p>
      <p class="post__content">{{content}}</p>
      <div class="post__author">
        <img class="post__author__avatar" src="https://sigil.cupcake.io/{{author_name}}">
        <span class="post__author__username">{{author_name}}</span>
      </div>
      <span>{{num_comments}}</span>
    </li>
  </ul>

</section>